
<div class="shift-box">
  <h3>{{this.shiftName}}</h3>
  1/1
  <!-- <ul>
    {{#each shift.staff as |staff index|}}
      <li>{{staff.name}}</li>
    {{/each}}
  </ul> -->
  <p class = "center">
    {{shift.timeStart}}-{{shift.timeEnd}}
  </p>
</div>
