


.shift {
	background-color: #a5a7aa;
	padding: 10px;
	border-radius: 15px;
}

.worked {
	background-color: #37cc41;
}

.vacant {
	background-color: #f2525f;
}

.check_in {
}

.center {
	text-align: center;
}

.shift-list{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.shift-item{
	margin: auto;
	padding: 10px;
}

.shift-box{
	padding: 5px;
}

.wrapper{
	display: grid;
	height: 100vh;
	grid-template-rows: 100px 1fr 150px;
	grid-template-columns: 1fr 350px;
	grid-template-areas:
	  "header"
		"shifts"
		"managers"
		"footer"
}

@media (min-width: 800px){
	.wrapper{
		grid-template-areas:
		  "header header"
			"shifts managers"
			"footer footer"
	}
}

.header {
	background-color: #0085c1;
	color: #000000;
	padding-top: 25px;
	padding-bottom: 25px;
	grid-area: header;
	text-align: center;
}

.managers{
	grid-area: managers;
	height: 100%;
	background-color: #28b5f4;
	padding: 10px;
}

.shifts{
	grid-area: shifts;
	padding: 10px;
	background-color: #e0e1e2;
}

.callInfo{
	grid-area: footer;
	background-color: #0085c1;
	text-align: center;
	padding: 10px;
}

.footTable{
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

.equalWidth{
	width: 33%;
}
