.shift {
	background-color: #a5a7aa;
	border: 1px solid #000;
	height: 100px;
}

.worked {
	background-color: #13a324;
}

.vacant {
	background-color: #a21212;
}

.check_in {
}

.confirm {
	color: green;
}

.deny {
	color: red;
}

.center {
	text-align: center;
}

.header {
	background-color: #3e68ad;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}
