<h2>Shifts</h2>
<div class='shift-list container'>
  {{#each model as |shift|}}
    <div class="shift-item">
      {{shift-card title="Shift card for $(shift.name)" shift=shift}}
    </div>
  {{/each}}
</div>
